@media screen and (min-width: 1200px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1130px;
  }
  .card {
    width: 20rem;
    display: flex;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px)
{
  .container, .container-lg, .container-md, .container-sm {
      max-width: 1000px;
  }
  .card {
    width: 19rem;
  }
}

.card {
  transition: box-shadow .1s;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
